In [2]:
# NASLOV

In [3]:
import pandas as pd

tekmovalci = pd.read_csv('obdelani_podatki/tekmovalci.csv')
tekmovanja = pd.read_csv('obdelani_podatki/tekmovanja.csv')
pd.options.display.max_rows = 10

In [161]:
tekmovalci.id = tekmovalci["id"].astype('Int64')
tekmovalci

,leto,država,id,ime,p1,p2,p3,p4,p5,p6,vsota,nagrada,Gold medal,Silver medal,Bronze medal,Honourable mention
0,1959,Romania,9795,Basarab Nicolescu,unknown,unknown,unknown,unknown,unknown,unknown,37,Gold medal,1,0,0,0
1,1959,Romania,9802,Cezar Gheorghe,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
2,1959,Romania,16084,Cristian Berthaler,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
3,1959,Romania,16086,Virgil Brişcă,unknown,unknown,unknown,unknown,unknown,unknown,35,Bronze medal,0,0,1,0
4,1959,Romania,16087,Mihail Vrăjitoru,unknown,unknown,unknown,unknown,unknown,unknown,33,Bronze medal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18651,2019,United Arab Emirates,29197,Maha Sultan Eid Saeed Alketbi,0,0,0,0,0,0,0,NaN,0,0,0,0
18652,2019,United Arab Emirates,29195,Sara Hasan Ahmed Abdulla Zaid,0,0,0,0,0,0,0,NaN,0,0,0,0
18653,2019,United Arab Emirates,29191,Ghadeir Mohamed Ali Mohamed Alzeyoudi,0,0,0,0,0,0,0,NaN,0,0,0,0
18654,2019,United Arab Emirates,29192,Hour Saif Mohamed Saif Almazrouei,0,0,0,0,0,0,0,NaN,0,0,0,0
18655,2019,United Arab Emirates,29193,Meera Mohammed Obaid Bin Hadeeba Alnuaimi,0,0,0,0,0,0,0,NaN,0,0,0,0

In [5]:
tekmovanja

,leto,gostiteljica,država,leader,deputy leader
0,1959,Romania,Romania,Gheorghe D. Simionescu,NaN
1,1959,Romania,Hungary,Endre Hódi,NaN
2,1959,Romania,Czechoslovakia,Rudolf Zelinka,NaN
3,1959,Romania,Bulgaria,Stoian Budurov,NaN
4,1959,Romania,Poland,Mieczyslaw Czyżykowski,NaN
...,...,...,...,...,...
3239,2019,United Kingdom,Venezuela,Rafael Sánchez,José Nieto
3240,2019,United Kingdom,Botswana,Mmoloki Lekhutlile,Mathews Masole
3241,2019,United Kingdom,Angola,Gabriel Boaventura,Aldemar Guzo Camuege
3242,2019,United Kingdom,Kenya,James Katende,Silas Isaac Wafula
3243,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi

In [6]:
 # Najvcekrat nastopajoči leader in deputy

In [7]:
leaders = tekmovanja[["leader", "država", "leto"]].groupby(["leader", "država"])
deputy_leaders = tekmovanja[["deputy leader", "država", "leto"]].groupby(["deputy leader", "država"])

In [8]:
leaders.count().sort_values('leto', ascending=False)

                             leto
leader           država
József Pelikán   Hungary       31
Matti Lehtinen   Finland       29
Endre Hódi       Hungary       27
Charles Leytem   Luxembourg    23
Claude Deschamps France        19
...                           ...
J. B. Tabov      Bulgaria       1
Iván Henríquez   Honduras       1
Ivan Tonov       Bulgaria       1
Ivan Prodanov    Bulgaria       1
Željko Hanjš     Yugoslavia     1

[815 rows x 1 columns]

In [84]:
t = deputy_leaders.count().sort_values('leto', ascending=False)

In [10]:
# Kako je v Sloveniji

In [11]:
leaders_slo = (tekmovanja[tekmovanja.država == "Slovenia"])[["leader", "leto"]].groupby("leader")
deputy_leaders_slo = (tekmovanja[tekmovanja.država == "Slovenia"])[["deputy leader", "leto"]].groupby("deputy leader")

In [12]:
leaders_slo.count().sort_values('leto', ascending=False)

                leto
leader
Gregor Dolinar    18
Darjo Felda        8
Irena Majcen       1

In [13]:
deputy_leaders_slo.count().sort_values('leto', ascending=False)

                   leto
deputy leader
Matjaž Željko        12
Irena Majcen          4
Matej Aleksandrov     4
Jure Vogrinc          3
Jakob Jurij Snoj      2
Jernej Tonejc         1
Veno Mramor           1

In [14]:
# Število nastopajočih

In [15]:
stevilo_nastopajocih_držav = tekmovanja[["država", "leto"]].groupby("leto")

In [16]:
stevilo_nastopajocih_držav.count().sort_values('država', ascending=False)

      država
leto
2019     112
2017     111
2016     109
2018     107
2015     104
...      ...
1963       8
1962       7
1959       7
1961       6
1960       5

[60 rows x 1 columns]

In [17]:
# Gostiteljice

In [18]:
test = tekmovanja[["gostiteljica", "leto"]].drop_duplicates().groupby("gostiteljica")

In [19]:
test.count().sort_values('leto', ascending=False)

                                     leto
gostiteljica
Romania                                 6
United Kingdom                          3
Union of Soviet Socialist Republics     3
Poland                                  3
Hungary                                 3
...                                   ...
Japan                                   1
India                                   1
Cuba                                    1
Finland                                 1
Mexico                                  1

[38 rows x 1 columns]

In [20]:
(test.count().sort_values('leto', ascending=False)).loc["Slovenia"]

leto    1
Name: Slovenia, dtype: int64

In [21]:
# Država največkrat tekmovala

In [22]:
najvec = tekmovanja[["država", "leto"]].groupby("država")

In [23]:
najvec.count().sort_values('leto', ascending=False)

            leto
država
Bulgaria      60
Romania       60
Poland        59
Hungary       59
Sweden        52
...          ...
Laos           1
Madagascar     1
Mauritania     1
Angola         1
Gambia         1

[134 rows x 1 columns]

In [24]:
(najvec.count().sort_values('leto', ascending=False)).loc["Slovenia"]

leto    27
Name: Slovenia, dtype: int64

In [ ]:
# Najboljše države vseh časov

In [58]:
tekmovalci

,leto,država,id,ime,p1,p2,p3,p4,p5,p6,vsota,nagrada,Gold medal,Silver medal,Bronze medal,Honourable mention
0,1959,Romania,9795,Basarab Nicolescu,unknown,unknown,unknown,unknown,unknown,unknown,37,Gold medal,1,0,0,0
1,1959,Romania,9802,Cezar Gheorghe,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
2,1959,Romania,16084,Cristian Berthaler,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
3,1959,Romania,16086,Virgil Brişcă,unknown,unknown,unknown,unknown,unknown,unknown,35,Bronze medal,0,0,1,0
4,1959,Romania,16087,Mihail Vrăjitoru,unknown,unknown,unknown,unknown,unknown,unknown,33,Bronze medal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18651,2019,United Arab Emirates,29197,Maha Sultan Eid Saeed Alketbi,0,0,0,0,0,0,0,NaN,0,0,0,0
18652,2019,United Arab Emirates,29195,Sara Hasan Ahmed Abdulla Zaid,0,0,0,0,0,0,0,NaN,0,0,0,0
18653,2019,United Arab Emirates,29191,Ghadeir Mohamed Ali Mohamed Alzeyoudi,0,0,0,0,0,0,0,NaN,0,0,0,0
18654,2019,United Arab Emirates,29192,Hour Saif Mohamed Saif Almazrouei,0,0,0,0,0,0,0,NaN,0,0,0,0
18655,2019,United Arab Emirates,29193,Meera Mohammed Obaid Bin Hadeeba Alnuaimi,0,0,0,0,0,0,0,NaN,0,0,0,0

In [59]:
tekmovalci["Gold medal"] = tekmovalci.nagrada.apply(lambda x: 1 if x == "Gold medal" else 0)
tekmovalci["Silver medal"] = tekmovalci.nagrada.apply(lambda x: 1 if x == "Silver medal" else 0)
tekmovalci["Bronze medal"] = tekmovalci.nagrada.apply(lambda x: 1 if x == "Bronze medal" else 0)
tekmovalci["Honourable mention"] = tekmovalci.nagrada.apply(lambda x: 1 if x == "Honourable mention" else 0)

In [60]:
ts = tekmovalci[["država", "Gold medal", "Silver medal", "Bronze medal", "Honourable mention"]].groupby("država")

In [61]:
ts.sum().sort_values(['Gold medal', 'Silver medal', "Bronze medal", "Honourable mention"], ascending=[False, False, False, False]).loc["Slovenia"]

Gold medal             0
Silver medal           6
Bronze medal          36
Honourable mention    60
Name: Slovenia, dtype: int64

In [67]:
k = ts.sum().sort_values(['Gold medal', 'Silver medal', "Bronze medal", "Honourable mention"], ascending=[False, False, False, False])

In [70]:
nova = pd.merge(tekmovanja, tekmovalci)

In [ ]:
# Najboljši leader

In [82]:
nova1 = nova[["leader", "država", "Gold medal", "Silver medal", "Bronze medal", "Honourable mention"]].groupby(["leader", "država"])

In [87]:
nova1.sum().sort_values(['Gold medal', 'Silver medal', "Bronze medal", "Honourable mention"], ascending=[False, False, False, False])

,,Gold medal,Silver medal,Bronze medal,Honourable mention
leader,država,,,,
Nazar Agakhanov,Russian Federation,59,37,6,0
Yongjin Song,Republic of Korea,43,18,4,1
Bin Xiong,People's Republic of China,41,6,1,0
József Pelikán,Hungary,40,87,46,9
Endre Hódi,Hungary,35,75,51,4
...,...,...,...,...,...
Thomas Masiwa,Zimbabwe,0,0,0,0
Urshinzerengin Sanzhimyatav,Mongolia,0,0,0,0
Vidar Thomée,Sweden,0,0,0,0
Walid Elsayed Aly Gomaa,Egypt,0,0,0,0
Yusuf Zeybek,Iraq,0,0,0,0

In [ ]:
# Najboljši deputy leader

In [92]:
nova2 = nova[["deputy leader", "država", "Gold medal", "Silver medal", "Bronze medal", "Honourable mention"]].groupby(["deputy leader", "država"])

In [93]:
nova2.sum().sort_values(['Gold medal', 'Silver medal', "Bronze medal", "Honourable mention"], ascending=[False, False, False, False])

,,Gold medal,Silver medal,Bronze medal,Honourable mention
deputy leader,država,,,,
Dmitry Tereshin,Russian Federation,33,24,3,0
István Reiman,Hungary,30,69,41,1
Sándor Dobos,Hungary,26,67,35,8
Po-Shen Loh,United States of America,23,7,0,0
Zhigang Feng,People's Republic of China,22,1,1,0
...,...,...,...,...,...
Sílvia Barbeiro,Portugal,0,0,0,0
Tryfon Pnevmatikos,Cyprus,0,0,0,0
Udayanga Chandimal de Silva Udayanga Chandimal de Silva,Sri Lanka,0,0,0,0
Winfer Tabares,Philippines,0,0,0,0
Åke Samuelsson,Sweden,0,0,0,0

In [94]:
# Najboljši deptekmovalec

In [95]:
nova3 = nova[["ime", "država", "Gold medal", "Silver medal", "Bronze medal", "Honourable mention"]].groupby(["ime", "država"])

In [105]:
nova4 = nova3.sum().sort_values(['Gold medal', 'Silver medal', "Bronze medal", "Honourable mention"], ascending=[False, False, False, False])
nova4

,,Gold medal,Silver medal,Bronze medal,Honourable mention
ime,država,,,,
Zhuo Qun (Alex) Song,Canada,5,0,1,0
Teodor von Burg,Serbia,4,1,1,0
Lisa Sauermann,Germany,4,1,0,0
Nipun Pitimanaaree,Thailand,4,1,0,0
Christian Reiher,Germany,4,0,1,0
...,...,...,...,...,...
Ēriks Dobelis,Latvia,0,0,0,0
Ēriks Gopaks,Latvia,0,0,0,0
Ēriks Vilunas,Latvia,0,0,0,0
Šime Ungar,Yugoslavia,0,0,0,0
Željko Hanjš,Yugoslavia,0,0,0,0

In [116]:
nova4.iloc[nova4.index.get_level_values('država') == "Slovenia"]

,,Gold medal,Silver medal,Bronze medal,Honourable mention
ime,država,,,,
Luka Horjak,Slovenia,0,2,1,0
Gašper Zadnik,Slovenia,0,1,1,0
Irena Majcen,Slovenia,0,1,1,0
Marko Čmrlec,Slovenia,0,1,1,0
Matjaž Berčič,Slovenia,0,1,0,1
...,...,...,...,...,...
Sašo Živanovič,Slovenia,0,0,0,0
Sergej Omladič,Slovenia,0,0,0,0
Tadej Novak,Slovenia,0,0,0,0
Tine Porenta,Slovenia,0,0,0,0
Tone Gradišek,Slovenia,0,0,0,0

In [122]:
nova5 = nova[["ime", "država", "Honourable mention"]].groupby(["ime", "država"])

In [123]:
nova6 = nova5.sum().sort_values("Honourable mention", ascending=False)
nova6

                                        Honourable mention
ime                        država
?                          Poland                        4
                           Romania                       4
Matjaž Leonardis           Slovenia                      4
Ruwimal Yasantha Pathiraja Sri Lanka                     4
Ka Chon Ieong              Macau                         3
...                                                    ...
Arunas Seputis             Lithuania                     0
Jonathan Potts             Australia                     0
Jonathan Ramachandran      Malaysia                      0
Jonathan Santos Wong       Philippines                   0
?                          Algeria                       0

[12773 rows x 1 columns]

In [126]:
nova6.iloc[nova6.index.get_level_values('država') == "Slovenia"]

                                 Honourable mention
ime                    država
Matjaž Leonardis       Slovenia                   4
Andraž Maier           Slovenia                   3
Žiga Krajnik           Slovenia                   3
Amadej Kristjan Kocbek Slovenia                   3
Juan Gabriel Kostelec  Slovenia                   2
...                                             ...
Irena Majcen           Slovenia                   0
Ivo List               Slovenia                   0
Jure Vogrinc           Slovenia                   0
Jure Kališnik          Slovenia                   0
Juš Kosmač             Slovenia                   0

[93 rows x 1 columns]

In [ ]:
# Najtežje naloge

In [135]:
nova

,leto,gostiteljica,država,leader,deputy leader,id,ime,p1,p2,p3,p4,p5,p6,vsota,nagrada,Gold medal,Silver medal,Bronze medal,Honourable mention
0,1959,Romania,Romania,Gheorghe D. Simionescu,NaN,9795,Basarab Nicolescu,unknown,unknown,unknown,unknown,unknown,unknown,37,Gold medal,1,0,0,0
1,1959,Romania,Romania,Gheorghe D. Simionescu,NaN,9802,Cezar Gheorghe,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
2,1959,Romania,Romania,Gheorghe D. Simionescu,NaN,16084,Cristian Berthaler,unknown,unknown,unknown,unknown,unknown,unknown,36,Silver medal,0,1,0,0
3,1959,Romania,Romania,Gheorghe D. Simionescu,NaN,16086,Virgil Brişcă,unknown,unknown,unknown,unknown,unknown,unknown,35,Bronze medal,0,0,1,0
4,1959,Romania,Romania,Gheorghe D. Simionescu,NaN,16087,Mihail Vrăjitoru,unknown,unknown,unknown,unknown,unknown,unknown,33,Bronze medal,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18651,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi,29197,Maha Sultan Eid Saeed Alketbi,0,0,0,0,0,0,0,NaN,0,0,0,0
18652,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi,29195,Sara Hasan Ahmed Abdulla Zaid,0,0,0,0,0,0,0,NaN,0,0,0,0
18653,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi,29191,Ghadeir Mohamed Ali Mohamed Alzeyoudi,0,0,0,0,0,0,0,NaN,0,0,0,0
18654,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi,29192,Hour Saif Mohamed Saif Almazrouei,0,0,0,0,0,0,0,NaN,0,0,0,0
18655,2019,United Kingdom,United Arab Emirates,Rachad Zaki,Badriya Alshehhi,29193,Meera Mohammed Obaid Bin Hadeeba Alnuaimi,0,0,0,0,0,0,0,NaN,0,0,0,0

In [197]:
t = nova[["leto", "p1", "p2", "p3", "p4", "p5", "p6"]][nova.leto >= 2000]
t.p1=t.p1.astype('int32')
t.p2=t.p2.astype('int32')
t.p3=t.p3.astype('int32')
t.p4=t.p4.astype('int32')
t.p5=t.p5.astype('int32')
t.p6=t.p6.astype('int32')

In [198]:
t.groupby("leto").mean().round(2)

        p1    p2    p3    p4    p5    p6
leto
2000  4.10  2.77  0.66  3.18  1.63  1.05
2001  3.64  1.55  0.88  3.23  2.73  0.78
2002  3.45  3.56  0.59  3.90  2.27  0.41
2003  3.56  2.30  0.40  4.63  1.61  0.58
2004  4.60  2.76  1.01  4.08  2.51  1.26
...    ...   ...   ...   ...   ...   ...
2015  4.31  1.36  0.65  4.79  1.51  0.36
2016  5.27  2.03  0.25  4.74  1.68  0.81
2017  5.94  2.30  0.04  5.03  0.97  0.29
2018  4.93  2.95  0.28  3.96  2.70  0.64
2019  5.18  2.40  0.57  3.74  3.57  0.40

[20 rows x 6 columns]